:root {
  --background: hsl(240 10% 3.9%);
  --foreground: hsl(0 0% 98%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(240 5.9% 10%);
  --muted: hsl(240 3.7% 15.9%);
  --destructive: hsl(0 62.8% 30.6%);
  --input: hsl(240 3.7% 15.9%);
}
